
*.nohup

.vscode/ 

.venv/
.pyenv/
.pyvenv/


envs/secrets/*.env
!src/wandb/
*.txt
!requirements*.txt

__pycache__/
*.out
*.log

.slurm/
.wandb/
.repository/

config.yml


*.encoding
*.model
*.out

*.DS_store

*.tmp
